.btn {
  border: none;
  background-color: transparent;
  padding: 20px 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary {
  background-color: red;
  font-style: italic;
  color: white;
}

.btn-secondary {
  font-weight: bold;
  color: black;
  border: 1px solid black;
}
