.exercio-quatro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.exercio-quatro > div {
  margin: 30px 0;
  width: 100%;
  max-width: 300px;
}

.card {
  border: 1px solid black;
  padding: 10px 30px;
  margin: 0 20px;
}

.card.destaque {
  background-color: #ffba08;
}

.card__temperatura {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.destaque__btn {
  background-color: #e96e50;
  border: none;
  padding: 10px 30px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
}
